body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #555;
}
h1,h2{
    color:#111;
}
.top-bar{
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 5px solid rgb(216, 63, 7);
}
.container{
    max-width: 888px;
    margin: auto;
    padding: 30px;
}
.subtitle{
    font-weight: normal;
    font-size: 20px;
}
.headline{
    font-size: 56px;
    line-height: 64px;
}
.author{
    font-weight: bold;
    font-size: 0.8em;
}
.social-icons{
    margin-top: 10px;
}
.social-icon{
    width: 20px;
    padding: 10px 10px 10px 0;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(216, 63, 7);
}
.content{
    max-width: 680px;
    margin: auto;
}
p{
    font-size: 20px;
    list-style: 32px;
}
.cta{
    color: rgb(216, 63, 7);
    font-size: 20px;
    margin: 30px 0;    
    font-weight: bold;
}
figure{
    padding: 0;
    margin: 40px 0;
    font-size: 12px;
}
figure>img{
    width: 100%;
}
.preto{
    color: #111;
}
.cta>.preto{
    display: inline-block;
}
.footer{
    background-color: #333;
    height: 100px;
}